<div class="left-sidebar">
  <h3><strong>SITE NAVIGATION</strong></h3>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose">Home</a></li>
    <li><a href="/daleydose/help-files">Table of Contents</a></li>
  </ul>

  <!-- APPLICATION FUNDAMENTALS -->
  <p><strong>Fundamentals</strong></p>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose/about-daley-dose">About Daley Dose</a></li>
    <li><a href="/daleydose/about-user-roles">About User Roles</a></li>
    <li><a href="/daleydose/about-prescription-restrictions">Prescription Restrictions</a></li>
  </ul>

  <!-- WINDOW DEFINITIONS -->
  <p style="margin-top: 10px;"><strong>Window Definitions</strong></p>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose/window-home">Home Window</a></li>
    <li><a href="/daleydose/window-add-medication">Add Medication Window</a></li>
    <li><a href="/daleydose/window-add-notes">Add Notes Window</a></li>
    <li><a href="/daleydose/window-add-alternative">Add Alternative Window</a></li>
    <li><a href="/daleydose/window-scan">Scan Window</a></li>
  </ul>

  <!-- INSTALLATION GUIDES -->
  <p style="margin-top: 10px;"><strong>Installation Guides</strong></p>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose/guide-program-installation">Install the Application</a></li>
    <li><a href="/daleydose/guide-mobile-installation">Install the Mobile App</a></li>
    <li><a href="/daleydose/guide-program-update">Update to Latest Version</a></li>
  </ul>

  <!-- USER INTERFACE GUIDES -->
  <p style="margin-top: 10px;"><strong>User Interface Guides</strong></p>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose/prescription-create-new">Create a New Prescription</a></li>
    <li><a href="/daleydose/prescription-add-meds">Add Medications</a></li>
    <li><a href="/daleydose/prescription-delete-meds">Delete Medications</a></li>
    <li><a href="/daleydose/prescription-manage">Manage Medication Notes</a></li>
    <li><a href="/daleydose/prescription-finalize">Finalize the Prescription</a></li>
    <li><a href="/daleydose/prescription-digitize">Digitize a Prescription</a></li>
  </ul>

  <!-- RELEASE NOTES -->
  <p style="margin-top: 10px;"><strong>Release Notes</strong></p>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose/release-notes-v1.5">Latest Updates</a></li>
    <li><a href="/daleydose/release-note-version-history">Version History</a></li>
  </ul>
  <!-- COMING SOON -->
  <p style="margin-top: 10px;"><strong>Coming Soon</strong></p>
  <ul style="list-style-type: disc; padding-left: 20px; font-size: 14px; line-height: 1.6;">
    <li><a href="/daleydose/about-dale-bot">AI Integration</a></li>
    <li><a href="/daleydose/about-custom-themes">Custom Themes</a></li>

  <!-- ADDITIONAL LINKS -->
  <p style="margin-top: 10px;"><strong>Additional Links</strong></p>
    <li><a href="https://hiredale.github.io">HireDale.com</a></li>
  </ul>    
</div>
